<div id="bar">
	<div id="setting">
		<div id="expand">
			<div>
				<h3 id="logo">AIM</h3>
			</div>
			<div id="obj" class="setting">
				<h4>Objects<i class="fa fa-angle-double-down"></i></h4>
				<div>
					<div id="list"></div>
					<div id="attr">
						<div id="name" class="input">
							<label>Name</label>
							<input type="text" id="current"></input>
						</div>
						<div id="stroke">
							<h5>Stroke</h5>
							<div class="input">
								<label for='weight'>Weight</label>
								<input type="text" id="weight"></input>
							</div>
							<div class="input">
								<label for='weight'>Color</label>
								<input type="text" id="color"></input>
							</div>
						</div>
						<div id="fill">
							<h5>Fill</h5>
							<div class="input">
								<label for="">Color</label>
								<input type="text"></input>
							</div>
						</div>
						<div id="cap">
							<h5>Corner</h5>
							<div class="input" id="linejoin">
								<label for="linejoin">Linejoin</label>
								<select>
									<option value="miter">Miter</option>
									<option value="round">Round</option>
									<option value="bevel">Bevel</option>
								</select>
							</div>
							<div class="input" id="linecap">
								<label for="linecap">Linecap</label>
								<select>
									<option value="butt">Butt</option>
									<option value="square">Square</option>
									<option value="round">Round</option>
								</select>
							</div>
						</div>
						<div id="transform">
							<h5>Transform</h5>
							<div id='scale'>
								<div class="input" id="global">
									<label>Scale</label>
									<input type="text">
								</div>
								<div class="input" id="x">
									<label>x</label>
									<input type="text">
								</div>
								<div class="input" id="y">
									<label>y</label>
									<input type="text">
								</div>
							</div>
							<div id='skew'>
								<label>Skew</label>
								<div class="input">
									<input type="text">
									<span>,</span>
									<input type="text">
								</div>
							</div>
							<div id='rotate' class="input">
								<label>Rotate</label>
								<input type="text">
							</div>
						</div>
						<div id='other'>
							<h5>Other</h5>
							<div id='z-pos' class="input">
								<label>Z position</label>
								<input type="text">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="setting" id="win">
				<h4>Window<i class="fa fa-angle-double-down"></i></h4>
				<div id="grid">
					<h5>Canvas</h5>
					<div class="input">
						<label>Grid</label>
						<input type="checkbox" checked="yes"></input>
					</div>
					<div class="input">
						<label>Size</label>
						<input type="text" value="10"></input>
					</div>
				</div>
			</div>
			<div class="setting" id="file">
				<h4>File<i class="fa fa-angle-double-down"></i></h4>
				<div>
					<div class="input">
						<label>Open</label>
						<input type="file"></input>
					</div>
					<div>
						<%= button_to "Write", { :controller => "home", :action => "draw" } %>
					</div>
				</div>
			</div>
			<%# <div id="history"> %>
				<%# 	<div id="step"> %>
					<%# 		<input type="text"> %>
					<%# 	</div> %>
				<%# </div> %>
			<div class="setting" id="color-palette">
				<h4>Colors<i class="fa fa-angle-double-down"></i></h4>
				<% f = JSON.parse(File.read("cfg/color.json")).map %>

				<% f.each do |name, palette| %>
					<div>
						<h5><%= name %></h5>
						<div>
							<% palette.each do |i, data| %>
								<% if data.class == String %>
									<svg>
										<rect width="16px" height="16px" fill="<%= data %>"></rect>
									</svg>
								<% end %>
								<% if data.class == Hash %>
									<div>
										<h5><%= i %></h5>
										<% data.each do |i, color| %>
											<svg>
												<rect width="16px" height="16px" fill="<%= color %>"></rect>
											</svg>
										<% end %>
									</div>
								<% end %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div id="help">
			<h3>
				<a target="_blank" href="http://cmd.jackhasakeyboard.co/aim">?</a>
			</h3>
		</div>
	</div>
	<ul id="btn">
		<% Dir.glob("svg/*").each do |d| %>
			<li>
				<a><%= d.match(/[^\/]+$/) %></a>
			</li>
		<% end %>
	</ul>
	<div id="res">
		<% Dir.glob("svg/*").each do |d| %>
			<div>
				<% Dir.glob("#{d}/*").each do |f| %>
					<a>
						<%= File.read(f).html_safe %>
					</a>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
