<div id="bar">
	<div id="setting">
		<div>
			<h3>AIM</h3>
		</div>
		<div id="obj" class="setting">
			<h4>Objects</h4>
			<div>
			<div id="list"></div>
			<div id="attr">
				<div id="name" class="input">
					<label>Name</label>
					<input type="text" id="current"></input>
				</div>
				<div id="stroke">
					<h5>Stroke</h5>
					<div class="input">
						<label for='weight'>Weight</label>
						<input type="text" id="weight"></input>
					</div>
					<div class="input">
						<label for='weight'>Color</label>
						<input type="text" id="color"></input>
					</div>
				</div>
				<div id="fill">
					<h5>Fill</h5>
					<div class="input">
						<label for="">Color</label>
						<input type="text"></input>
					</div>
				</div>
				<div id="cap">
					<h5>Corner</h5>
					<div class="input">
						<label for="linecap">Linecap</label>
						<select id="linecap">
							<option value="butt">Butt</option>
							<option value="square">Square</option>
							<option value="round">Round</option>
						</select>
					</div>
					<div class="input">
						<label for="linejoin">Linejoin</label>
						<input type="text" id="linejoin">
					</div>
				</div>
				<div id="transform">
					<h5>Transform</h5>
					<div id='scale'>
						<div class="input" id="global">
							<label>Scale</label>
							<input type="text">
						</div>
						<div class="input" id="x">
							<label>x</label>
							<input type="text">
						</div>
					<div class="input" id="y">
						<label>y</label>
						<input type="text">
					</div>
					</div>
					<div id='skew'>
						<label>Skew</label>
						<div class="input">
							<input type="text">
								<span>,</span>
							<input type="text">
						</div>
					</div>
					<div id='rotate' class="input">
						<label>Rotate</label>
						<input type="text">
					</div>
				</div>
				<div id='other'>
				<h5>Other</h5>
					<div id='z-pos' class="input">
						<label>Z position</label>
						<input type="text">
					</div>
				</div>
			</div>
</div>
		</div>
		<div class="setting" id="win">
			<h4>Window</h4>
			<div id="grid">
				<h5>Canvas</h5>
				<div class="input">
					<label>Grid</label>
					<input type="checkbox" checked="yes"></input>
				</div>
				<div class="input">
					<label>Size</label>
					<input type="text" value="10"></input>
				</div>
			</div>
		</div>
		<div class="setting" id="file">
			<h4>File</h4>
			<div>
				<div class="input">
					<label>Open</label>
					<input type="file"></input>
				</div>
				<div>
					<%= button_to "Write", { :controller => "home", :action => "draw" } %>
				</div>
		</div>
		</div>
		<%# <div id="history"> %>
		<%# 	<div id="step"> %>
		<%# 		<input type="text"> %>
		<%# 	</div> %>
		<%# </div> %>
			<div class="setting" id="color-palette">
				<h4>Colors</h4>
					<% f = JSON.parse(File.read("cfg/color.json")).map %>

					<% f.each do |name, palette| %>
						<div>
							<h5><%= name %></h5>
							<div>
								<% palette.each do |i, color| %>
								 <svg>
										 <rect width="16px" height="16px" fill="<%= color %>"></rect>
									</svg>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
	</div>
	<ul id="btn">
		<li>
			<a>Primitives</a>
		</li>
		<li>
			<a>Saved</a>
		</li>
	</ul>
	<div id="res">
	<% Dir.glob("prim/*").each do |f| %>
 <div>
		 <div>
			 <%= File.read(f).html_safe %>
		 </div>
		</div>
	<% end %>

	<% Dir.glob("output/*").each do |f| %>
 <div>
		 <div>
			 <%= File.read(f).html_safe %>
		 </div>
		</div>
	<% end %>
	</div>
</div>
<div id="doc">
		<div id="powerline">
		<span id="mode"></span>
		<span id="obj"></span>
		</div>
	<div id="cont">
		<div>
			<div id="overlay">
				<svg id="curs">
					<path d="M 0,10 L 20,10 M 10,0 L 10,20 Z" stroke="#000"></path>
					<text font-size="10px" x="14" y="6"></text>
				</svg>
			</div>
			<div id="canv">
			</div>
		</div>
	</div>
	<pre id="data">
	</pre>
	<div id="help">
		<h3>
			<a target="_blank" href="http://cmd.jackhasakeyboard.co/aim">?</a>
		</h3>
	</div>
</div>
